[MASTER]

fail-under=9.75


[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-function-docstring,
    missing-class-docstring,
    consider-using-f-string,
    too-few-public-methods,
    too-many-arguments,
